<nav id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand logo"><a ng-click="goToIndex()"><span>qW</span></a></span>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right" >
        <!-- <li><a>Movies</a></li> -->
        <!-- <li><a>Shows</a></li> -->
        <li>
          <form name="logInForm"
                ng-if="!signedInUser()"
                ng-submit="signIn(logInForm.$valid)"
                class="form-inline navbar-form">
            <input class="form-control mr-sm-2"
                   type="email"
                   placeholder="Email" ng-model="userData.email"
                   required minlength="6">
            <input class="form-control mr-sm-2" type="password"
                   placeholder="Password" ng-model="userData.password"
                   required minlength="6">
            <!-- <label class="form-check-label navbar-text">
              <input class="form-check-input" type="checkbox"> Remember me
            </label> -->
            <button class="btn btn-outline my-2 my-sm-0" type="submit">Login</button>
          </form>
        </li>
        <li ng-if="!signedInUser()">
          <form class="form-inline navbar-form no-gutter">
            <button class="btn facebook-sign-up" type="submit" ng-click="fbSignIn()">FB Login</button>
          </form>
        </li>
        <li ng-if="!signedInUser()">
          <a data-toggle="modal" data-target="#signUpModal">Join</a>
        </li>
        <li ng-if="signedInUser()" class="navbar-text welcome-text">{{ currentUser.name ? "Welcome, " + currentUser.name : "Welcome!" }}</li>
        <li ng-if="signedInUser()"><a ng-click="signOut()">Log Out</a></li>
      </ul>

    </div>
  </div>
</nav>
