<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="title-search">
        <div id="header-wrapper">
          <h1 class="header-title">qWatch<span class="navbar-brand logo"><span>qW</span></span></h1>
          <h2 class="header-slogan">All of your movie and TV streams, right in one place</h2>
        </div>
        <form class="form-flex" id="search-panel">
          <input type="text" class="form-control search-box flex-10" id="search-box" placeholder="Find a movie or TV show..." ng-model="search.term">
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
      </div>
    </div>
  </div>
</div>
