<%= content_for :angular do %>
  ng-app="qWatch"
<% end %>
<share-buttons title="Lassie">
</share-buttons>
<ui-view name="nav"></ui-view>
<ui-view name="search"></ui-view>
<ui-view></ui-view>
<div id="main-show" class="expandable" ng-class="{expand: expanded}" ui-view="show"></div>
