<%= content_for :angular do %>
  ng-app="qWatch"
<% end %>

<ui-view name="nav"></ui-view>

  <div id="wrapper" class="toggled">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        viewed: {{ viewed }}
          <ul class="sidebar-nav">
              <li class="sidebar-brand"
                  ng-repeat="item in viewed">
                  {{ item.title }}
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                    <ui-view name="search"></ui-view>
                    <ui-view></ui-view>
                    <div id="main-show" class="expandable" ng-class="{expand: expanded}" ui-view="show"></div>
                    <div id="fb-root"></div>

                    <!-- Sign Up Modal -->
                    <ui-view name="signUp"></ui-view>
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
