<%= content_for :angular do %>
  ng-app="qWatch"
<% end %>

<ui-view name="nav"></ui-view>

<!-- TODO: remove fb login test -->
<fb:login-button show-faces="true" max-rows="1"
  size="large"></fb:login-button>

<ui-view name="search"></ui-view>
<ui-view></ui-view>
<div id="main-show" class="expandable" ng-class="{expand: expanded}" ui-view="show"></div>
<div id="fb-root"></div>
