// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rationale', sans-serif;
}

body {
  padding-top: 51px;
}

#search_panel {
  text-align: center;
}

.navbar-brand.logo {
  background: rgb(1, 210, 119);
  border-radius: 100%;
  font-size: 50px;
  letter-spacing: -8px;
  color: #fff;
  position: relative;
  width: 50px;
  span {
    position: absolute;
    left:0;
  }
}

.form-flex {
  display: flex;
  flex-flow: row nowrap;

  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;

  .flex-1 {
    margin:0 15px;
    flex:1;
  }
  .flex-10 {
    margin:0 15px;
    flex:10
  }
  .flex-right {
    text-align: right;
  }
}
