<div class="share-button-wrapper">

  <button class="btn btn-social font-bold" id="btn-twitter"
    ng-click="view()"
    data-toggle="tooltip" title="Twitter"
    socialshare
    socialshare-provider="twitter"
    socialshare-url="{{ shareUrl }}"
    socialshare-text="Watch {{ title }} with qWatch Links: "
    socialshare-hashtags="qWatch, qWatchMeNow">
    <i class="fa fa-twitter text-center"></i>
  </button>

  <button class="btn btn-social font-bold" id="btn-facebook"
    data-toggle="tooltip" title="Facebook"
    ng-click="view()"
    socialshare
    socialshare-provider="facebook"
    socialshare-type="share"
    socialshare-description="Watch {{ title }} with qWatch Links"
    socialshare-via="1246689222089262"
    socialshare-media="{{ shareUrl }}"
    socialshare-quote="Follow the qWatch Link to see where {{ title }} is streaming."
    socialshare-hashtags="#qWatch"
    socialshare-title="{{ title }}"
    socialshare-caption="Share movies and TV shows with qWatch.me "
    socialshare-url="{{ shareUrl }}"
    socialshare-popup-height="300"
    socialshare-popup-width="400"
    socialshare-trigger="click">
    <i class="fa fa-facebook text-center"></i>
  </button>

  <button class="btn btn-social font-bold" id="btn-email"
    data-toggle="tooltip" title="Email"
    ng-click="view()"
    socialshare
    socialshare-provider="email"
    socialshare-subject="Watch {{ title }} with qWatch.me: {{ shareUrl }}"
    socialshare-body= "Follow the qWatch Link to see where {{ title }} is streaming. Happy viewing!
    {{ title }} - {{ shareUrl }}">
    <i class="fa fa-envelope text-center"></i>
  </button>


</div>
