@font-face {
  font-family: 'Rationale';
  font-style: normal;
  font-weight: 400;
  src: local('Rationale'), local('Rationale-Regular'), url(https://fonts.gstatic.com/s/rationale/v7/ib3SKjmqWGRJiAg_LgKWiVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.qwatch-logo {
  background: #01D277 !important;
  border-radius: 100%;
  display: inline-block !important;
  font-family: 'Rationale', sans-serif !important;
  float: right !important;
  height: 2em !important;
  margin-top: .25em !important;
}
.qwatch-logo span {
  color:#ffffff !important;
  position: relative;
  left:0;
  font-size: 30px;
  letter-spacing: -5px;
  padding: 0;
  margin: 0;
  top: -5px;
}
